@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
 font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  height: 100%;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:  600;
}

h1:first-child, 
h2:first-child, 
h3:first-child, 
h4:first-child, 
h5:first-child, 
h6:first-child {
  margin-top:  0;
}

h6 {
  margin: 0;
}

p {
  line-height:  140%;
}

a {
  color: #0064c9;
}

hr,
div hr.standard-hr {
  width: 100%;
  height: 0px;
  border: none;
  border-top: 2px solid rgba(0 0 0 / 8%);
}

.app-container {
  display:  flex;
  height:  100%;
}

.primary-section {
  display: flex;
  flex-direction: column;
  padding: 60px;
  width: 60%;
  height: 100%;
  overflow: auto;
  padding-right: 60px;
  gap: 30px;
}

.primary-section-body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  width: 100%;
}

.form {
  margin: 40px 0 0;
}

.page-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.new-relic-logo {
  width: 45px;
}

.suggestions-container {
  height: 100%;
  width: 40%;
  overflow: auto;
  padding: 60px;
  background-color: rgba(0, 0, 0, 0.05);
}

.about div.MuiTypography-root.MuiTypography-h5:not(:first-child) {
  margin-top: 40px;
}

.about div.MuiTypography-root.MuiTypography-h5 {
  margin-bottom: -5px;
}

.about p {
  line-height: 145%;
}

.about ul {
  line-height: 155%;
}

.cm-editor {
   padding: 16px;
   box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   transition: all 0.075s ease-out;
 }

 .form-container .cm-focused.Í¼1.cm-editor {
   box-shadow: inset 0 0 0 1px rgba(0 80 150 / 60%),
     0 0 0 3px rgba(0 80 150 / 10%);
   outline: none;
 }

 .cm-editor .cm-content {
   font-family: Inter;
   font-size: 18px;
   line-height: 150%;
 }