* {
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  height: 100%;
  overflow: hidden;
}

h6 {
  margin: 0;
}

a {
  color: #0064c9;
}

hr,
div hr.standard-hr {
  width: 100%;
  height: 0px;
  border: none;
  border-top: 2px solid rgba(0 0 0 / 8%);
}

.primary-section {
  display: flex;
  flex-direction: column;
  padding: 60px;
  width: 60%;
  height: 100%;
  overflow: auto;
  padding-right: 60px;
  gap: 30px;
}

.primary-section-body {
  gap: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  width: 100%;
}

.form {
  margin: 40px 0 0;
}

.page-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.new-relic-logo {
  width: 45px;
}

.suggestions-container {
  height: 100%;
  width: 40%;
  overflow: auto;
  padding: 60px;
  background-color: rgba(0, 0, 0, 0.05);
}

.about div.MuiTypography-root.MuiTypography-h5:not(:first-child) {
  margin-top: 40px;
}

.about div.MuiTypography-root.MuiTypography-h5 {
  margin-bottom: -5px;
}

.about p {
  line-height: 145%;
}

.about ul {
  line-height: 155%;
}
